.backofficeMenu {
  color: $dark-grey;
  margin: 0 auto;
  padding-top: px-to-rems(30);
  text-transform: uppercase;
  width: 60%;

  @include breakpoint(s) {
    width: 90%;
  }

  .selected {
    text-decoration: underline;
  }
}
