body {
  font-family: $base-font, sans-serif;
  font-weight: 300;
}

.logo {
  padding: px-to-rems(50) 0 0 px-to-rems(80);

  @include breakpoint(s) {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
