.button {
  &__dark {
    background-color: $dark-grey;
    color: #fff;
    font-size: px-to-rems(20);
    padding: px-to-rems(10) px-to-rems(20);
  }

  &__delete {
    background-color: #e82c0c;
    color: #fff;
    font-size: px-to-rems(20);
    padding: px-to-rems(10) px-to-rems(20);
  }
}
