.checkout {
  margin-top: px-to-rems(80);
  line-height: px-to-rems(20);

  &__content {
    margin-bottom: px-to-rems(40);
    width: 70%;
  }

  &__title {
    font-size: px-to-rems(24);
    font-weight: 400;
    margin-bottom: px-to-rems(15);
    text-transform: uppercase;
  }

  &__table {
    @include breakpoint(s) {
      overflow-x: scroll;
    }
  }

  &__product {
    .image {
      height: px-to-rems(150);
      width: auto;
    }

    .delete {
      height: auto;
      width: px-to-rems(20);

      &:hover {
        cursor: pointer;
      }
    }

    .inputs__wrapper {
      width: 15%;

      select {
        background-position: 90% center;
        border: none;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  table {
    border-collapse: separate;
    border-spacing: 0 px-to-rems(30);
    font-weight: 400;
    width: 100%;
  }

  th {
    border-bottom: px-to-rems(1) solid #262626;
    color: #4A4A4A;
    font-size: px-to-rems(16);
    font-weight: 300;
    padding: 0 px-to-rems(30) px-to-rems(20);
    text-transform: uppercase;
  }

  td {
    border-bottom: px-to-rems(1) solid #262626;
    padding: 0 px-to-rems(30) px-to-rems(30);
    vertical-align: middle;
  }

  .total {
    font-size: px-to-rems(18);
    font-weight: 400;
    margin-bottom: px-to-rems(20);

    span {
      margin-left: px-to-rems(50);
    }
  }
}
