.shopCatalog {
  padding-top: px-to-rems(50);

  @include breakpoint(s) {
    padding-top: px-to-rems(15);
  }

  &__content {
    margin-bottom: px-to-rems(30);
    width: 80%;
  }

  &__new {
    display: flex;
    justify-content: flex-end;
  }

  &__items {
    flex-wrap: wrap;
  }

  &__item {
    font-size: px-to-rems(14);
    margin-top: px-to-rems(35);
    padding-left: px-to-rems(10);
    position: relative;
    text-transform: uppercase;
    width: 23%;

    @include breakpoint(m) {
      width: 45%;
    }

    @include breakpoint(s) {
      width: 75%;
    }


    img {
      height: auto;
      max-height: px-to-rems(300);
      width: 100%;

      @include breakpoint(m) {
        min-height: px-to-rems(250);
      }
    }

    .title {
      margin-top: px-to-rems(15);
    }

    .price {
      color: #9b9b9b;
      margin-top: px-to-rems(5);
    }

    &:hover {
      cursor: pointer;
    }
  }
}
