.shopMenu {
  color: $dark-grey;
  margin: 0 auto;
  padding-top: px-to-rems(30);
  text-transform: uppercase;
  width: 75%;

  @include breakpoint(s) {
    display: inline-grid;
    margin-left: 10%;

    a + a {
      margin-top: px-to-rems(20);
    }
  }

  .selected {
    text-decoration: underline;
  }
}
